@font-face {
  font-family: 'Gilroy';
  src: url('./Public/Gilroy-SemiBold.ttf') format('truetype');
}

.sell-model-box {
  width: 100vw;
  min-height: 800px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

.sell-model-image-box {
  width: 763px;
  height: 488px;
  background: url('../Public/sell-model-aircraft.svg'), no-repeat center/cover;
}

.sell-model-links-box {
  display: flex;
  flex-direction: column;
}

.sell-model-heading {
  width: 389px;
  color: #393939;
  font-family: 'Gilroy', sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 50px;
}

.sell-model-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.sell-model-links-box {
  display: flex;
  flex-direction: column;
}

.sell-model-link-heading {
  width: 220px;
  color: #393939;
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px; /* 122.727% */
  margin: 15px 0;
  flex-wrap: wrap;
}

.sell-model-link {
  color: #02aeb9;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: capitalize;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .sell-model-box {
    flex-direction: column;
    padding: 40px 10px;
  }

  .sell-model-image-box {
    width: 406px;
    height: 260px;
    background: url('../Public/aircraft-responsive.svg'), no-repeat center/cover;
    margin-top: 50px;
  }
  .sell-model-links-box {
    order: -1;
  }

}

@media screen and (max-width: 600px) {
  .sell-model-heading {
    width: 90vw;
    font-size: 25px;
    line-height: 29px
  }


  .sell-model-box{
    align-items: start;
  }

  .sell-model-links {
    grid-gap: 30px;
  }

  .sell-model-link-heading{
    font-size: 14px;
    line-height: 25px;
    width: 40vw;
  }
  .sell-model-link{
    font-size: 14px;
  }

  .sell-model-image-box {
    background-size: 300px 200px;
    background-repeat: no-repeat;

  }
}
